*{box-sizing: border-box;}


/* 변수 */
$white: #fff;
$black: #17191d;
$blue: #07f;
$red: #a92111;
$fs18: 18px;
$fs16: 16px;
$fs11: 11px;
$wh100: 100%;

/* mixin */
@mixin flex($justcon:true, $align:true){
    display: flex;
    @if $justcon{
        justify-content: space-between;
    }
    @if $align{
        align-items: center;
    }
}
@mixin norep{
    background-repeat: no-repeat;
}
@mixin overh{
    overflow: hidden;
}
@mixin title($pd:true, $flex:true){
    border-bottom: 1px solid #e2e2e2;
    h3{font-size: 14.5px;}
    @if $pd{
        padding-top: 10px;
    }
    @if $flex{
        @include flex(true, true);
        span{font-size: $fs11;}
    }
}
@mixin list($mg:true){
    letter-spacing: 0.5px;
    line-height: 1.7;
    @if $mg{
        margin-top: 5%;
    }
}





#wrap{width: $wh100; @include overh();}
#content{width: $wh100; background: $white; @include overh();}
.container{max-width: 980px; height: inherit; margin: 0 auto; position: relative; @include overh();}
a{color: inherit;}
img{vertical-align: bottom;}
.bold{font-weight: 700;}



/* header */
header{
    width: $wh100;
    background: $white;
    position: relative;
    z-index: 999;

    /* gnb */
    .gnb{
        width: $wh100;
        height: 62px;
        padding: 0 24px;
        @include flex(true, true);
        color: $black;
        .gnb-menu{
            @include flex(false, true);
            .icon{
                width: 18px;
                height: 18px;
                background: $black url(../img/icon/set_gnb.png) 0 0;
                @include norep();
                cursor: pointer;
                margin: 3px 10px 0 0;
            }
            a{
                display: block;
                font-size: 17px;
                font-weight: 400;
            }
            &:hover .icon{
                background-color: $blue;
                transition: .2s;
            }
            &:hover a{
                color: $blue;
                transition: .2s;
            }
        }
        .nx-logo{
            a{
                display: block;
                width: $wh100;
                height: 100%;
                padding-left: 184px; 
            }
        }
        .gnb-right{
            @include flex(false, true);
            .icon{
                width: 22px;
                height: 22px;
                background: #191919 url(../img/icon/set_gnb_icon.png) 0 0;
                @include norep();
                position: relative;
                .pcroom{
                width: 37px;
                height: 18px;
                border-radius: 17px;
                background: #1b1f24;
                color: $white;
                font-size: $fs11;
                font-weight: 200;
                text-align: center;
                padding-left: 1.5px;
                position: absolute;
                top: 22px;
                left: -5.5px;
                visibility: hidden;
                opacity: 0;
                transition: all .3s linear;
                }
                &:hover .pcroom{
                    visibility: visible;
                    opacity: 100;
                }
            }
            .gnb-join{
                font-size: 14px;
                margin: 0 10px;
                &:hover a{
                    color: $blue;
                    transition: .2s;
                }
            }
            .gnb-login{
                padding: 7px 18px;
                border: 2px solid $black;
                border-radius: 20px;
                font-size: 15px;
                &:hover{
                    color: $white;
                    background: $blue;
                    border-color: $blue;
                    transition: .2s;
                }
            }
        }
    }

    /* nav */
    nav{
        z-index: 100;
        width: $wh100;
        height: 80px;
        position: relative;
        background: #222;
        text-align: center;
        @include flex(true, true);
        .nav-left {
            display: flex;
            height: inherit;
            justify-content: space-around;
            .logo{
                width: 195px;
                display: inline-block;
                a{
                    img{
                        position: absolute;
                        left: 30px;
                        top: 26px;
                    }
                }
            }
            li{
                width: 130px;
                height: inherit;
                display: inline-block;
                a{
                    display: block;
                    line-height: 80px;
                    font-size: 20px;
                    color: #c0c7d3;
                }
                ul{
                    display: none;
                    width: inherit;
                    padding-top: 22px;
                    li{
                        a{
                            display: block;
                            font-size: 16px;
                            line-height: 32px;
                            letter-spacing: -0.5px;
                            color: #777;
                        }
                    }
                }
                >ul>li>a{
                    &:hover{color: #eb4242;}
                }
            }
            &:hover li ul{display: block;}
            &.bg{
                max-width: 100%;
                height: 400px;
                background: #222;
                margin-top: 1px;
            }
        }
        .nav-right{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .login-btn{
                padding-right: 30px;
                a{
                    display: block;
                    font-size: 16px;
                    color: #979eaa;
                    span{
                        display: inline-block;
                        width: 18px;
                        height: 22px;
                        margin-right: 8px;
                        vertical-align: middle;
                        background: url(../img/icon/ico_gnb.png);
                        @include norep();
                    }
                }
            }
            .start-btn{
                a{
                    display: block;
                    width: 230px;
                    height: 80px;
                    background: url(../img/start/game_start.png);
                    @include norep();
                    text-indent: -9999px;
                }
                &:hover a{
                    background-position-y: 100%;
                }
            }
        }
    }
}


/* main */
main{
    height: 5000px;
    /* banner */
    #banner{
        background: url(../img/bg.jpg);
        @include norep();
        .banner-t{
            width: $wh100;
            @include flex(false, false);
            .start{
                width: 250px;
                margin-top: 48px;
                .start-btn{height: 170px;}
                .login{
                    height: 190px;
                    background: url(../img/login/login_bg.gif);
                    @include norep();
                    .login-tab{
                        @include flex(false, false);
                        width: $wh100;
                        height: 35px;
                        @each $l in cp,nx,dp{
                            li.#{$l}{background: url(../img/login/login_#{$l}.gif) 0 -35px; @include norep();}
                        }
                        li{
                            width: 84px;
                            &.on{background-position: 0 0;}
                        }
                    }
                    .login-btn{
                        height: 105px;
                        background: url(../img/login/login_line.gif) center bottom;
                        @include norep();
                        text-align: center;
                        padding: 32.5px 0;
                    }
                    .etc-btn{
                        height: 50px;
                        .btn-wrap{
                            width: 210px;
                            height: $wh100;
                            margin: 0 auto;
                            @include flex(true, true);
                        }
                        .find{
                            a:nth-child(2){margin-left: -3px;}
                        }
                    }
                }
            }
            .slide-wrap{
                width: 730px;
                height: 408px;
                padding-left: 10px;
                @include overh();
                position: relative;
                .slides{
                    width: $wh100;
                    height: $wh100;
                    background: url(../img/main_slide/slide_bg.png) center bottom;
                }
            }
        }
        .banner-b{
            ul{
                @include overh();
                margin-top: 20px;
                li{
                    display: none;
                    &.on{display: block;}
                }
            }
        }
    }

    /* content */
    #content{
        .container{
            padding: 30px 20px 100px;
            border: 1px solid #e2e2e2;
            .content-wrap{
                @include flex(false, false);
                .con-left{
                    flex: 1;
                    .min-slide{
                        margin: 10px 0;
                        border: 1px solid #e2e0e0;
                        .min-slide-btn{
                            background: #656565;
                            height: 25px;
                        }
                    }
                    .big-btns{
                        a:nth-child(2){margin-left: -3px;}
                    }
                    .btns{
                        margin-top: 10px;
                        padding: 7px 0 7px 53.5%;
                        background: url(../img/left02/sns_bg.gif);
                        @include norep();
                        a:nth-child(2){
                            display: inline-block;
                            margin: 0 17px;
                        }
                    }
                    .btn-bnr{margin-top: 10px;}
                    .fog{margin-top: 15px;}
                    .cs-btn{
                        margin-top: 10px;
                        @include flex(false, false)
                    }
                }
                .con-center{
                    flex: 1.9;
                    padding: 0 3%;
                    .mgz{
                        .title{
                            @include title(true, true);
                        }
                        ul{
                            padding: 3% 0 4%;
                            display: grid;
                            grid-template: repeat(2,1fr)/repeat(2,1fr);
                            grid-gap: 5%;                       
                            li{
                                width: 191px;
                                margin: 0 auto;
                                border: 1px solid #d2d2d2;
                                .text-box{
                                    padding: 5% 7%;
                                }
                            }
                        }
                    }
                    .char{
                        padding: 3% 0;
                        margin-top: 4%;
                        .title{
                            @include title(false, false);
                        }
                        .char-box{
                            width: 400px;
                            height: 224px;
                            margin: 2% auto 0;
                            background: url(../img/cha_info/cha_bg.gif) center;
                            @include norep();
                            position: relative;
                            .all-btn{
                                position: absolute;
                                top: 62.5%;
                                left: 1px;
                            }
                            .char-wrap{
                                position: relative;
                                @include overh();
                                width: 350px;
                                height: 50px;
                                margin: 10px auto;
                                .char-thum-b{
                                    @include flex(false, false);
                                    img{cursor: pointer;}
                                }
                                .focus{
                                    width: 50px;
                                    height: 41px;
                                    background: url(../img/cha_on/cha_hover.gif) center center;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    >img{
                                        position: absolute;
                                        z-index: 999;
                                    }
                                    .char-thum-c{
                                        width: $wh100;
                                        height: $wh100;
                                        @include flex(false, false);
                                        @include overh();
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                    }
                                    img{cursor: pointer;}
                                }
                            }
                            .char-arrow{
                                img{cursor: pointer;}
                                .prev-arrow, .next-arrow{
                                    position: absolute;
                                    bottom: 24px;
                                }
                                .prev-arrow{left: 9px;}
                                .next-arrow{right: 9px;}
                            }
                        }
                    }
                }
                .con-right{
                    flex: 1.1;
                    .news{
                        .title{
                            @include title(true, true);
                        }
                        .news-list{
                            margin-top: 5%;
                            letter-spacing: 0.5px;
                            line-height: 1.7;
                        }
                        .update{
                            margin-top: 4%;
                            padding: 4%;
                            background: #f9f9f9;
                            border: 1px solid #d2d2d2;
                            font-size: 12.5px;
                            line-height: 1.7;
                            span{
                                display: block;
                            }
                        }
                    }
                    .today{
                        margin-top: 10%;
                        .title{
                            @include title(true, true);
                        }
                        .today-list{
                            @include list(false);
                            .attk{background: url(../img/today/ico_today.gif);}
                            li{
                                @include norep();
                            }
                        }
                    }
                }
            }
        }
    }
}



/* footer */
.footer-wrap{
    width: $wh100;
    margin-top: 30px;
    @include overh();
    padding: 10px;
    .link{
        font-size: 13px;
        color: #666;
        letter-spacing: .5px;
        @include overh();
        @include flex(false, false);
        li{
            @include overh();
            &:not(:last-child){padding-right: 15px;}
        }
        a{
            position: relative;
            &::after{content: ""; display: inline-block; width: 1px; height: 12px; background: #d1d1d1; position: absolute; top: 1px; right: -8px;}
        }
    }
    .info{
        font-size: $fs11;
        color: #888;
        margin-top: 10px;
        span{
            display: inline-block;
            margin-right: 10px;
            a{text-decoration: underline;}
        }
    }
    .cen{
        font-size: $fs11;
        color: #888;
        margin-top: 10px;
    }
    .logo{
        margin-top: 20px;
        a{
            display: inline-block;
            margin-right: 15px;
        }
    }
}



/* media screen */
@media screen and (max-width: 1100px) {
    header{
        .gnb{display: none;}
        nav{
            height: 50px;
            background: url(../img/nav/nav_flip_bg.png) center center;
            @include norep();
            .pc-wrap{display: none;}
            // .mob-wrap{display: block;}
        }
    }
}

@media screen and (max-width: 980px) {
    .container{padding: 0 15px}
}