@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* 변수 */
/* mixin */
#wrap {
  width: 100%;
  overflow: hidden;
}

#content {
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.container {
  max-width: 980px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
}

img {
  vertical-align: bottom;
}

/* header */
header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 999;
  /* gnb */
  /* nav */
}
header .gnb {
  width: 100%;
  height: 62px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #17191d;
}
header .gnb .gnb-menu {
  display: flex;
  align-items: center;
}
header .gnb .gnb-menu .icon {
  width: 18px;
  height: 18px;
  background: #17191d url(../img/icon/set_gnb.png) 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 3px 10px 0 0;
}
header .gnb .gnb-menu a {
  display: block;
  font-size: 17px;
  font-weight: 400;
}
header .gnb .gnb-menu:hover .icon {
  background-color: #07f;
  transition: 0.2s;
}
header .gnb .gnb-menu:hover a {
  color: #07f;
  transition: 0.2s;
}
header .gnb .nx-logo a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 184px;
}
header .gnb .gnb-right {
  display: flex;
  align-items: center;
}
header .gnb .gnb-right .icon {
  width: 22px;
  height: 22px;
  background: #191919 url(../img/icon/set_gnb_icon.png) 0 0;
  background-repeat: no-repeat;
  position: relative;
}
header .gnb .gnb-right .icon .pcroom {
  width: 37px;
  height: 18px;
  border-radius: 17px;
  background: #1b1f24;
  color: #fff;
  font-size: 11px;
  font-weight: 200;
  text-align: center;
  padding-left: 1.5px;
  position: absolute;
  top: 22px;
  left: -5.5px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
header .gnb .gnb-right .icon:hover .pcroom {
  visibility: visible;
  opacity: 100;
}
header .gnb .gnb-right .gnb-join {
  font-size: 14px;
  margin: 0 10px;
}
header .gnb .gnb-right .gnb-join:hover a {
  color: #07f;
  transition: 0.2s;
}
header .gnb .gnb-right .gnb-login {
  padding: 7px 18px;
  border: 2px solid #17191d;
  border-radius: 20px;
  font-size: 15px;
}
header .gnb .gnb-right .gnb-login:hover {
  color: #fff;
  background: #07f;
  border-color: #07f;
  transition: 0.2s;
}
header nav {
  z-index: 100;
  width: 100%;
  height: 80px;
  position: relative;
  background: #222;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-left {
  display: flex;
  height: inherit;
  display: flex;
  justify-content: space-between;
}
header nav .nav-left .logo {
  width: 195px;
  display: inline-block;
}
header nav .nav-left .logo a img {
  position: absolute;
  left: 30px;
  top: 26px;
}
header nav .nav-left li {
  width: 130px;
  height: inherit;
  display: inline-block;
}
header nav .nav-left li a {
  display: block;
  line-height: 80px;
  font-size: 20px;
  color: #c0c7d3;
}
header nav .nav-left li ul {
  display: none;
  width: inherit;
  padding-top: 22px;
}
header nav .nav-left li ul li a {
  display: block;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.5px;
  color: #777;
}
header nav .nav-left li > ul > li > a:hover {
  color: #eb4242;
}
header nav .nav-left:hover li ul {
  display: block;
}
header nav .nav-right {
  display: flex;
  display: flex;
  align-items: center;
}
header nav .nav-right .login-btn {
  padding-right: 30px;
}
header nav .nav-right .login-btn a {
  display: block;
  font-size: 16px;
  color: #979eaa;
}
header nav .nav-right .login-btn a span {
  display: inline-block;
  width: 18px;
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
  background: url(../img/icon/gnb_icon.png);
  background-repeat: no-repeat;
}
header nav .nav-right .start-btn a {
  display: block;
  width: 230px;
  height: 80px;
  background: url(../img/start/game_start.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}
header nav .nav-right .start-btn:hover a {
  background-position-y: 100%;
}
header .bg {
  display: none;
  width: 100%;
  height: 400px;
  background: #222;
  position: absolute;
  z-index: 99;
}

/* main */
main {
  height: 2000px;
  /* banner */
  /* content */
}
main #banner {
  position: relative;
  width: 100%;
  height: 590px;
}
main #banner #slider {
  width: 100%;
  height: 100%;
}
main #banner #slider .slide {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
main #banner #slider .slide.act {
  display: block;
}
main #banner #slider .slide a {
  display: block;
  position: relative;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
main #banner #slider .slide a .tag {
  position: absolute;
  top: 88px;
  left: 0;
  z-index: 2;
}
main #banner #slider .slide a .tag span {
  display: inline-block;
  margin: 0 2px;
  padding: 0 13px;
  color: #fff;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 28px;
}
main #banner #slider .slide .shadow {
  width: 100%;
  height: 100%;
  background: url(../img/main_slide/bnr_shadow.png) 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
main #banner #slider .slide .img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1920px;
  height: 100%;
}
main #banner #slider .slide .img img {
  display: block;
  margin: 0 auto;
}
main #banner .progress {
  width: 1280px;
  height: 6px;
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: 2;
  display: flex;
  display: flex;
  align-items: center;
}
main #banner .progress span {
  display: inline-block;
  width: 12.5%;
  height: 6px;
  background: rgba(255, 255, 255, 0.2);
}
main #banner .progress span.active {
  background: #fff;
}
main #banner .bnr-box {
  width: 1280px;
  height: 60px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-indent: -9999px;
}
main #banner .bnr-box .pager {
  cursor: pointer;
  height: inherit;
  vertical-align: top;
  display: flex;
}
main #banner .bnr-box .pager .prev {
  width: 15px;
  height: 15px;
  background: url(../img/icon/slide_icon.png);
  background-repeat: no-repeat;
}
main #banner .bnr-box .pager .page {
  width: 80px;
  height: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  text-indent: 0;
}
main #banner .bnr-box .pager .page .n-page {
  opacity: 0.5;
}
main #banner .bnr-box .pager .page span {
  opacity: 0.3;
}
main #banner .bnr-box .pager .next {
  width: 15px;
  height: 15px;
  background: url(../img/icon/slide_icon.png) 50% -20px;
  background-repeat: no-repeat;
}
main #banner .bnr-box .pager .stop-play {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url(../img/icon/slide_icon.png) 50% -60px;
  background-repeat: no-repeat;
}
main #banner .bnr-box .q-link {
  height: inherit;
  vertical-align: top;
  padding-top: 10px;
  display: flex;
  opacity: 0.7;
}
main #banner .bnr-box .q-link .link1 {
  width: 100px;
  background: url(../img/main_slide/focus_link.png);
  background-repeat: no-repeat;
  cursor: pointer;
}
main #banner .bnr-box .q-link .link2 {
  width: 70px;
  margin: 0 35px 0 35px;
  background: url(../img/main_slide/focus_link.png) -135px 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
main #banner .bnr-box .q-link .link3 {
  width: 80px;
  background: url(../img/main_slide/focus_link.png) -234px 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
main #banner .arrow {
  text-indent: -9999px;
  width: 1280px;
  height: 46px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #banner .arrow #prev {
  cursor: pointer;
  width: 46px;
  height: inherit;
  background: url(../img/icon/slide_arrow.png);
  background-repeat: no-repeat;
  margin-left: -105px;
  opacity: 0.5;
}
main #banner .arrow #next {
  cursor: pointer;
  width: 46px;
  height: inherit;
  background: url(../img/icon/slide_arrow.png) 0 93%;
  background-repeat: no-repeat;
  margin-right: -105px;
  opacity: 0.5;
}
main #content .content-wrap {
  width: 1280px;
  margin: 40px auto 0;
  position: relative;
}
main #content .content-wrap .con-main {
  width: 100%;
  height: 310px;
  display: flex;
  justify-content: space-between;
}
main #content .content-wrap .con-main .news {
  width: 31.5%;
  border: 1px solid #e3e3e3;
  position: relative;
}
main #content .content-wrap .con-main .news h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px 0 10px 30px;
  color: #333;
}
main #content .content-wrap .con-main .news > a {
  font-size: 1px;
  color: #bcbcbc;
  padding: 7px;
  position: absolute;
  top: 27px;
  right: 30px;
  background: url(../img/icon/arrow_icon.png) right 13px;
  background-repeat: no-repeat;
}
main #content .content-wrap .con-main .news .news-l li {
  padding: 8px 0 0 30px;
}
main #content .content-wrap .con-main .news .news-l li a {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  color: #555;
}
main #content .content-wrap .con-main .news .news-l li a span {
  display: block;
}
main #content .content-wrap .con-main .news .news-l li.m-news {
  margin-bottom: 10px;
  padding: 15px 0 15px 35px;
  background: #f7f9fa;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}
main #content .content-wrap .con-main .news .news-l li.m-news a span:first-child {
  color: #eb4342;
}
main #content .content-wrap .con-main .mgz {
  width: 41.5%;
  margin: 0 20px;
  position: relative;
}
main #content .content-wrap .con-main .mgz > a {
  font-size: 1px;
  color: #bcbcbc;
  padding: 7px;
  position: absolute;
  top: 27px;
  right: 30px;
  z-index: 1;
  background: url(../img/icon/arrow_icon.png) right 13px;
  background-repeat: no-repeat;
  opacity: 0.5;
}
main #content .content-wrap .con-main .mgz .mgz-l {
  position: absolute;
  top: 33%;
  left: 8%;
  z-index: 1;
}
main #content .content-wrap .con-main .mgz .mgz-l li a {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #999;
}
main #content .content-wrap .con-main .mgz .mgz-l li a.mgz-m {
  color: #fff;
}
main #content .content-wrap .con-main .mgz .mgz-img {
  position: relative;
}
main #content .content-wrap .con-main .mgz .mgz-img li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
main #content .content-wrap .con-main .mgz .mgz-img li.img-m {
  display: block;
}
main #content .content-wrap .con-main .mgz .mgz-img li .mgz-box {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
main #content .content-wrap .con-main .mgz .mgz-img li .mgz-box a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 29px 45px;
  color: #777;
}
main #content .content-wrap .con-main .mgz .mgz-img li .mgz-box a p.box-title {
  color: #fff;
}
main #content .content-wrap .con-main .mgz .mgz-img li .mgz-box a p.box-title span.yellow {
  color: #ebaa00;
}
main #content .content-wrap .con-main .tdnbnr {
  width: 26%;
}
main #content .content-wrap .con-main .tdnbnr .today {
  height: 61%;
  border: 1px solid #e3e3e3;
  position: relative;
}
main #content .content-wrap .con-main .tdnbnr .today h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
  padding: 20px 0 10px 30px;
  color: #333;
}
main #content .content-wrap .con-main .tdnbnr .today > a {
  font-size: 1px;
  color: #bcbcbc;
  padding: 7px;
  position: absolute;
  top: 27px;
  right: 30px;
  background: url(../img/icon/arrow_icon.png) right 13px;
  background-repeat: no-repeat;
}
main #content .content-wrap .con-main .tdnbnr .today .td-l li {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 300;
  line-height: 28px;
  color: #555;
}
main #content .content-wrap .con-main .tdnbnr .today .td-l li a {
  padding-left: 30px;
}
main #content .content-wrap .con-main .tdnbnr .today .td-l li a span {
  display: inline-block;
}
main #content .content-wrap .con-main .tdnbnr .today .td-l li a span.cate {
  color: #eb4242;
}
main #content .content-wrap .con-main .tdnbnr .today .td-l li > span {
  font-size: 14px;
  padding-right: 30px;
  color: #999;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s {
  height: 33%;
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-wrap li {
  display: none;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-wrap li.active {
  display: block;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-wrap li a img {
  position: absolute;
  top: 0;
  left: 0;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-ctrl {
  width: 30px;
  height: 11px;
  position: absolute;
  bottom: 15px;
  left: 33px;
  text-indent: -9999px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-ctrl a {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url(../img/icon/bnr_ctrl.png);
  background-repeat: no-repeat;
  opacity: 0.5;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-ctrl a.bnrsbar {
  width: 1px;
  height: 11px;
  background: #999;
  opacity: 1;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-ctrl a.bnrsnext {
  background-position: -18px 0;
}
main #content .content-wrap .con-main .tdnbnr .bnr-s .bnr-ctrl a:hover {
  opacity: 1;
}
main #content .content-wrap .con-band {
  width: 100%;
  height: 120px;
  margin: 40px 0;
}

/* footer */
#footer {
  width: 100%;
  padding-bottom: 70px;
  border-top: 1px solid #888;
  overflow: hidden;
}
#footer .t-wrap {
  border-bottom: 1px solid #e3e3e3;
}
#footer .t-wrap .link {
  width: 1280px;
  margin: 0 auto;
}
#footer .t-wrap .link li {
  display: inline-block;
  padding: 20px 0;
}
#footer .t-wrap .link li a {
  display: block;
  font-size: 13px;
  color: #777;
}
#footer .t-wrap .link li a.strong {
  color: #333;
}
#footer .t-wrap .link li a span {
  display: inline-block;
  margin: 0 15px;
}
#footer .b-wrap {
  width: 1280px;
  margin: 0 auto;
  font-size: 12px;
  color: #777;
  position: relative;
}
#footer .b-wrap .bt-wrap {
  display: flex;
  justify-content: space-between;
}
#footer .b-wrap .bt-wrap .info {
  padding: 18px 0;
}
#footer .b-wrap .bt-wrap .info span {
  display: inline-block;
  margin-right: 1px;
  position: relative;
}
#footer .b-wrap .bt-wrap .info span.imp {
  margin-right: 6px;
}
#footer .b-wrap .bt-wrap .info span.imp::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  position: absolute;
  top: 3px;
  right: -5px;
  background: #888;
}
#footer .b-wrap .bt-wrap .sns {
  margin-top: 20px;
}
#footer .b-wrap .bt-wrap .sns li {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  background: url(../img/footer/f_sns.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
}
#footer .b-wrap .bt-wrap .sns li a {
  display: block;
  width: 100%;
  height: 100%;
}
#footer .b-wrap .bt-wrap .sns li.tw {
  background-position: 50% 0;
}
#footer .b-wrap .bt-wrap .sns li.fb {
  background-position: 100% 0;
}
#footer .b-wrap .logo {
  margin-top: 20px;
}
#footer .b-wrap .logo a {
  display: inline-block;
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */