*{box-sizing: border-box;}


/* 변수 */
$white: #fff;
$black: #17191d;
$blue: #07f;
$red: #a92111;
$fs18: 18px;
$fs16: 16px;
$fs11: 11px;
$wh100: 100%;

/* mixin */
@mixin flex($justcon:true, $align:true){
    display: flex;
    @if $justcon{
        justify-content: space-between;
    }
    @if $align{
        align-items: center;
    }
}
@mixin norep{
    background-repeat: no-repeat;
}
@mixin overh{
    overflow: hidden;
}
@mixin title($pd:true, $flex:true){
    border-bottom: 1px solid #e2e2e2;
    h3{font-size: 14.5px;}
    @if $pd{
        padding-top: 10px;
    }
    @if $flex{
        @include flex(true, true);
        span{font-size: $fs11;}
    }
}
@mixin list($mg:true){
    letter-spacing: 0.5px;
    line-height: 1.7;
    @if $mg{
        margin-top: 5%;
    }
}
@mixin cuspnt{
    cursor: pointer;
}




#wrap{width: $wh100; @include overh();}
#content{width: $wh100; background: $white; @include overh();}
.container{max-width: 980px; height: inherit; margin: 0 auto; position: relative; @include overh();}
a{color: inherit;}
img{vertical-align: bottom;}
.bold{font-weight: 700;}



/* header */
header{
    width: $wh100;
    background: $white;
    position: relative;
    z-index: 999;

    /* gnb */
    .gnb{
        width: $wh100;
        height: 62px;
        padding: 0 24px;
        @include flex(true, true);
        color: $black;
        .gnb-menu{
            @include flex(false, true);
            .icon{
                width: 18px;
                height: 18px;
                background: $black url(../img/icon/set_gnb.png) 0 0;
                @include norep();
                cursor: pointer;
                margin: 3px 10px 0 0;
            }
            a{
                display: block;
                font-size: 17px;
                font-weight: 400;
            }
            &:hover .icon{
                background-color: $blue;
                transition: .2s;
            }
            &:hover a{
                color: $blue;
                transition: .2s;
            }
        }
        .nx-logo{
            a{
                display: block;
                width: $wh100;
                height: 100%;
                padding-left: 184px; 
            }
        }
        .gnb-right{
            @include flex(false, true);
            .icon{
                width: 22px;
                height: 22px;
                background: #191919 url(../img/icon/set_gnb_icon.png) 0 0;
                @include norep();
                position: relative;
                .pcroom{
                width: 37px;
                height: 18px;
                border-radius: 17px;
                background: #1b1f24;
                color: $white;
                font-size: $fs11;
                font-weight: 200;
                text-align: center;
                padding-left: 1.5px;
                position: absolute;
                top: 22px;
                left: -5.5px;
                visibility: hidden;
                opacity: 0;
                transition: all .3s linear;
                }
                &:hover .pcroom{
                    visibility: visible;
                    opacity: 100;
                }
            }
            .gnb-join{
                font-size: 14px;
                margin: 0 10px;
                &:hover a{
                    color: $blue;
                    transition: .2s;
                }
            }
            .gnb-login{
                padding: 7px 18px;
                border: 2px solid $black;
                border-radius: 20px;
                font-size: 15px;
                &:hover{
                    color: $white;
                    background: $blue;
                    border-color: $blue;
                    transition: .2s;
                }
            }
        }
    }

    /* nav */
    nav{
        z-index: 100;
        width: $wh100;
        height: 80px;
        position: relative;
        background: #222;
        text-align: center;
        @include flex(true, true);
        .nav-left {
            display: flex;
            height: inherit;
            @include flex(flase, false);
            .logo{
                width: 195px;
                display: inline-block;
                a{
                    img{
                        position: absolute;
                        left: 30px;
                        top: 26px;
                    }
                }
            }
            li{
                width: 130px;
                height: inherit;
                display: inline-block;
                a{
                    display: block;
                    line-height: 80px;
                    font-size: 20px;
                    color: #c0c7d3;
                }
                ul{
                    display: none;
                    width: inherit;
                    padding-top: 22px;
                    li{
                        a{
                            display: block;
                            font-size: 16px;
                            line-height: 32px;
                            letter-spacing: -0.5px;
                            color: #777;
                        }
                    }
                }
                >ul>li>a{
                    &:hover{color: #eb4242;}
                }
            }
            &:hover li ul{display: block;}
            &.bg{
                max-width: 100%;
                height: 400px;
                background: #222;
                margin-top: 1px;
            }
        }
        .nav-right{
            display: flex;
            @include flex(false, true);
            .login-btn{
                padding-right: 30px;
                a{
                    display: block;
                    font-size: 16px;
                    color: #979eaa;
                    span{
                        display: inline-block;
                        width: 18px;
                        height: 22px;
                        margin-right: 8px;
                        vertical-align: middle;
                        background: url(../img/icon/gnb_icon.png);
                        @include norep();
                    }
                }
            }
            .start-btn{
                a{
                    display: block;
                    width: 230px;
                    height: 80px;
                    background: url(../img/start/game_start.png);
                    @include norep();
                    text-indent: -9999px;
                }
                &:hover a{
                    background-position-y: 100%;
                }
            }
        }
    }
}


/* main */
main{
    height: 5000px;

    /* banner */
    #banner{
        position: relative;
        width: 100%;
        height: 590px;
        #slider{
            width: $wh100;
            height: $wh100;
            .slide{
                display: none;
                width: $wh100;
                height: $wh100;
                overflow: hidden;
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                &.act{display: block;}
                a{
                    display: block;
                    position: relative;
                    width: 1280px;
                    height: $wh100;
                    margin: 0 auto;
                    .tag{
                        display: inline-block;
                        margin: 0 2px;
                        padding: 0 13px;
                        color: #fff;
                        font-size: 12px;
                        line-height: 25px;
                        text-align: center;
                        border: 2px solid rgba(255, 255, 255, .2);
                        border-radius: 28px;
                        position: absolute;
                        top: 88px;
                        z-index: 2;
                    }
                }
                .shadow{
                    width: $wh100;
                    height: $wh100;
                    background: url(../img/main_slide/bnr_shadow.png) 50%;
                    @include norep();
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }
                .img{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 1920px;
                    height: $wh100;
                    img{
                        display: block;
                        margin: 0 auto;
                    }
                }
            }
        }
        .progress{
            width: 1280px;
            height: 6px;
            position: absolute;
            left: 50%;
            bottom: 80px;
            transform: translateX(-50%);
            overflow: hidden;
            z-index: 2;
            display: flex;
            @include flex(false, true);
            span{
                display: inline-block;
                width: 12.5%;
                height: 6px;
                background: rgba(255, 255, 255, .2);
                &.active{
                    background: #fff;
                }
            }
        }
        .bnr-box{
            width: 1280px;
            height: 60px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: 2;
            display: flex;
            @include flex(true, true);
            text-indent: -9999px;
            .pager{
                @include cuspnt();
                height: inherit;
                vertical-align: top;
                @include flex(false, false);
                .prev{
                    width: 15px;
                    height: 15px;
                    background: url(../img/icon/slide_icon.png);
                    @include norep();
                }
                .page{
                }
                .next{
                    width: 15px;
                    height: 15px;
                    background: url(../img/icon/slide_icon.png) 50% -20px;
                    @include norep();
                }
                .stop-play{
                    width: 15px;
                    height: 15px;
                    margin-left: 10px;
                    background: url(../img/icon/slide_icon.png) 50% -60px;
                    @include norep();
                }
            }
            .q-link{
                height: inherit;
                vertical-align: top;
                padding-top: 10px;
                @include flex(false, false);
                opacity: .7;
                .link1{
                    width: 100px;
                    background: url(../img/main_slide/focus_link.png);
                    @include norep();
                    @include cuspnt();
                }
                .link2{
                    width: 70px;
                    margin: 0 35px 0 35px;
                    background: url(../img/main_slide/focus_link.png) -135px 0;
                    @include norep();
                    @include cuspnt();
                }
                .link3{
                    width: 80px;
                    background: url(../img/main_slide/focus_link.png) -234px 0;
                    @include norep();
                    @include cuspnt();
                }
            }
        }
        .arrow{
            text-indent: -9999px;
            width: 1280px;
            height: 46px;
            z-index: 2;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include flex(true, true);
            #prev{
                @include cuspnt();
                width: 46px;
                height: inherit;
                background: url(../img/icon/slide_arrow.png);
                @include norep();
                margin-left: -105px;
                opacity: 0.5;
            }
            #next{
                @include cuspnt();
                width: 46px;
                height: inherit;
                background: url(../img/icon/slide_arrow.png) 0 93%;
                @include norep();
                margin-right: -105px;
                opacity: 0.5;
            }
        }
    }

    #content{
        .content-wrap{
            width: 1280px;
            margin: 40px auto 0;
            position: relative;
            .con-main{
                width: $wh100;
                height: 310px;
                @include flex(true, false);
                .news{
                    width: 31.5%;
                    border: 1px solid #e3e3e3;
                    position: relative;
                    h3{
                        font-size: 22px;
                        font-weight: 500;
                        line-height: 30px;
                        padding: 20px 0 10px 30px;
                        color: #333;
                    }
                    >a{
                        font-size: 1px;
                        color: #bcbcbc;
                        padding: 7px;
                        position: absolute;
                        top: 27px;
                        right: 30px;
                        background: url(../img/icon/arrow_icon.png) right 13px;
                        @include norep();
                    }
                    .news-l{
                        li{
                            padding: 8px 0 0 30px;
                            a{
                                font-size: 15px;
                                font-weight: 300;
                                line-height: 22px;
                                color: #555;
                                span{
                                    display: block;
                                }
                            }
                            &.m-news{
                                margin-bottom: 10px;
                                padding: 15px 0 15px 35px;
                                background: #f7f9fa;
                                border-top: 1px solid #e3e3e3;
                                border-bottom: 1px solid #e3e3e3;
                                a{
                                    span{
                                        &:first-child{color: #eb4342;}
                                    }
                                }
                            }
                        }
                    }

                }
                .mgz{
                    width: 42%;
                    margin: 0 20px;
                    position: relative;
                    >a{
                        font-size: 1px;
                        color: #bcbcbc;
                        padding: 7px;
                        position: absolute;
                        top: 27px;
                        right: 30px;
                        background: url(../img/icon/arrow_icon.png) right 13px;
                        @include norep();
                        opacity: 0.5;
                    }
                    .mgz-l{
                        position: absolute;
                        top: 33%;
                        left: 8%;
                        li{
                            a{
                                font-size: 14px;
                                font-weight: 300;
                                line-height: 22px;
                                color: #999;
                            }
                            &.mgz-m{
                                a{color: #fff;}
                            }
                        }
                    }
                    .mgz-img{
                        li{
                            display: none;
                            &.img-m{display: block;}
                        }
                    }
                }
                .tdnbnr{
                    width: 26%;
                }
            }
        }
    }
}



/* footer */
.footer-wrap{
    width: $wh100;
    margin-top: 30px;
    @include overh();
    padding: 10px;
    .link{
        font-size: 13px;
        color: #666;
        letter-spacing: .5px;
        @include overh();
        @include flex(false, false);
        li{
            @include overh();
            &:not(:last-child){padding-right: 15px;}
        }
        a{
            position: relative;
            &::after{content: ""; display: inline-block; width: 1px; height: 12px; background: #d1d1d1; position: absolute; top: 1px; right: -8px;}
        }
    }
    .info{
        font-size: $fs11;
        color: #888;
        margin-top: 10px;
        span{
            display: inline-block;
            margin-right: 10px;
            a{text-decoration: underline;}
        }
    }
    .cen{
        font-size: $fs11;
        color: #888;
        margin-top: 10px;
    }
    .logo{
        margin-top: 20px;
        a{
            display: inline-block;
            margin-right: 15px;
        }
    }
}