@charset "UTF-8";
* {
  box-sizing: border-box;
}

/* 변수 */
/* mixin */
#wrap {
  width: 100%;
  overflow: hidden;
}

#content {
  width: 100%;
  background: #fff;
  overflow: hidden;
}

.container {
  max-width: 980px;
  height: inherit;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

a {
  color: inherit;
}

img {
  vertical-align: bottom;
}

.bold {
  font-weight: 700;
}

/* header */
header {
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 999;
  /* gnb */
  /* nav */
}
header .gnb {
  width: 100%;
  height: 62px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #17191d;
}
header .gnb .gnb-menu {
  display: flex;
  align-items: center;
}
header .gnb .gnb-menu .icon {
  width: 18px;
  height: 18px;
  background: #17191d url(../img/btn/set_gnb.png) 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 3px 10px 0 0;
}
header .gnb .gnb-menu a {
  display: block;
  font-size: 17px;
  font-weight: 400;
}
header .gnb .gnb-menu:hover .icon {
  background-color: #07f;
  transition: 0.2s;
}
header .gnb .gnb-menu:hover a {
  color: #07f;
  transition: 0.2s;
}
header .gnb .nx-logo a {
  display: block;
  width: 100%;
  height: 100%;
  padding-left: 184px;
}
header .gnb .gnb-right {
  display: flex;
  align-items: center;
}
header .gnb .gnb-right .icon {
  width: 22px;
  height: 22px;
  background: #191919 url(../img/btn/set_gnb_icon.png) 0 0;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.3s;
}
header .gnb .gnb-right .icon .pcroom {
  width: 37px;
  height: 18px;
  border-radius: 17px;
  background: #1b1f24;
  color: #fff;
  font-size: 11px;
  font-weight: 200;
  text-align: center;
  position: absolute;
  top: 22px;
  left: -5.5px;
  visibility: hidden;
}
header .gnb .gnb-right .icon:hover .pcroom {
  visibility: visible;
}
header .gnb .gnb-right .gnb-join {
  font-size: 14px;
  margin: 0 10px;
}
header .gnb .gnb-right .gnb-join:hover a {
  color: #07f;
  transition: 0.2s;
}
header .gnb .gnb-right .gnb-login {
  padding: 7px 18px;
  border: 2px solid #17191d;
  border-radius: 20px;
  font-size: 15px;
}
header .gnb .gnb-right .gnb-login:hover {
  color: #fff;
  background: #07f;
  border-color: #07f;
  transition: 0.2s;
}
header nav {
  z-index: 100;
  width: 100%;
  height: 80px;
  position: relative;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-left {
  justify-content: space-around;
}
header nav .nav-left li a {
  display: block;
  width: 130px;
  font-size: 20px;
  color: #c0c7d3;
}
header nav .nav-right {
  float: right;
}

/* main */
main {
  /* banner */
  /* content */
}
main #banner {
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
}
main #banner .banner-t {
  width: 100%;
  display: flex;
}
main #banner .banner-t .start {
  width: 250px;
  margin-top: 48px;
}
main #banner .banner-t .start .start-btn {
  height: 170px;
}
main #banner .banner-t .start .login {
  height: 190px;
  background: url(../img/login/login_bg.gif);
  background-repeat: no-repeat;
}
main #banner .banner-t .start .login .login-tab {
  display: flex;
  width: 100%;
  height: 35px;
}
main #banner .banner-t .start .login .login-tab li.cp {
  background: url(../img/login/login_cp.gif) 0 -35px;
  background-repeat: no-repeat;
}
main #banner .banner-t .start .login .login-tab li.nx {
  background: url(../img/login/login_nx.gif) 0 -35px;
  background-repeat: no-repeat;
}
main #banner .banner-t .start .login .login-tab li.dp {
  background: url(../img/login/login_dp.gif) 0 -35px;
  background-repeat: no-repeat;
}
main #banner .banner-t .start .login .login-tab li {
  width: 84px;
}
main #banner .banner-t .start .login .login-tab li.on {
  background-position: 0 0;
}
main #banner .banner-t .start .login .login-btn {
  height: 105px;
  background: url(../img/login/login_line.gif) center bottom;
  background-repeat: no-repeat;
  text-align: center;
  padding: 32.5px 0;
}
main #banner .banner-t .start .login .etc-btn {
  height: 50px;
}
main #banner .banner-t .start .login .etc-btn .btn-wrap {
  width: 210px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #banner .banner-t .start .login .etc-btn .find a:nth-child(2) {
  margin-left: -3px;
}
main #banner .banner-t .slide-wrap {
  width: 730px;
  height: 408px;
  padding-left: 10px;
  overflow: hidden;
  position: relative;
}
main #banner .banner-t .slide-wrap .slides {
  width: 100%;
  height: 100%;
  background: url(../img/main_slide/slide_bg.png) center bottom;
}
main #banner .banner-b ul {
  overflow: hidden;
  margin-top: 20px;
}
main #banner .banner-b ul li {
  display: none;
}
main #banner .banner-b ul li.on {
  display: block;
}
main #content .container {
  padding: 30px 20px 100px;
  border: 1px solid #e2e2e2;
}
main #content .container .content-wrap {
  display: flex;
}
main #content .container .content-wrap .con-left {
  flex: 1;
}
main #content .container .content-wrap .con-left .min-slide {
  margin: 10px 0;
  border: 1px solid #e2e0e0;
}
main #content .container .content-wrap .con-left .min-slide .min-slide-btn {
  background: #656565;
  height: 25px;
}
main #content .container .content-wrap .con-left .big-btns a:nth-child(2) {
  margin-left: -3px;
}
main #content .container .content-wrap .con-left .btns {
  margin-top: 10px;
  padding: 7px 0 7px 53.5%;
  background: url(../img/left02/sns_bg.gif);
  background-repeat: no-repeat;
}
main #content .container .content-wrap .con-left .btns a:nth-child(2) {
  display: inline-block;
  margin: 0 17px;
}
main #content .container .content-wrap .con-left .btn-bnr {
  margin-top: 10px;
}
main #content .container .content-wrap .con-left .fog {
  margin-top: 15px;
}
main #content .container .content-wrap .con-left .cs-btn {
  margin-top: 10px;
  display: flex;
}
main #content .container .content-wrap .con-center {
  flex: 1.9;
  padding: 0 3%;
}
main #content .container .content-wrap .con-center .mgz .title {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #content .container .content-wrap .con-center .mgz .title h3 {
  font-size: 14.5px;
}
main #content .container .content-wrap .con-center .mgz .title span {
  font-size: 11px;
}
main #content .container .content-wrap .con-center .mgz ul {
  padding: 3% 0 4%;
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  grid-gap: 5%;
}
main #content .container .content-wrap .con-center .mgz ul li {
  width: 191px;
  margin: 0 auto;
  border: 1px solid #d2d2d2;
}
main #content .container .content-wrap .con-center .mgz ul li .text-box {
  padding: 5% 7%;
}
main #content .container .content-wrap .con-center .char {
  padding: 3% 0;
  margin-top: 4%;
}
main #content .container .content-wrap .con-center .char .title {
  border-bottom: 1px solid #e2e2e2;
}
main #content .container .content-wrap .con-center .char .title h3 {
  font-size: 14.5px;
}
main #content .container .content-wrap .con-center .char .char-box {
  width: 400px;
  height: 224px;
  margin: 2% auto 0;
  background: url(../img/cha_info/cha_bg.gif) center;
  background-repeat: no-repeat;
  position: relative;
}
main #content .container .content-wrap .con-center .char .char-box .all-btn {
  position: absolute;
  top: 62.5%;
  left: 1px;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 50px;
  margin: 10px auto;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap .char-thum-b {
  display: flex;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap .char-thum-b img {
  cursor: pointer;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap .focus {
  width: 50px;
  height: 41px;
  background: url(../img/cha_on/cha_hover.gif) center center;
  position: absolute;
  top: 0;
  left: 0;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap .focus > img {
  position: absolute;
  z-index: 999;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap .focus .char-thum-c {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
main #content .container .content-wrap .con-center .char .char-box .char-wrap .focus img {
  cursor: pointer;
}
main #content .container .content-wrap .con-center .char .char-box .char-arrow img {
  cursor: pointer;
}
main #content .container .content-wrap .con-center .char .char-box .char-arrow .prev-arrow, main #content .container .content-wrap .con-center .char .char-box .char-arrow .next-arrow {
  position: absolute;
  bottom: 24px;
}
main #content .container .content-wrap .con-center .char .char-box .char-arrow .prev-arrow {
  left: 9px;
}
main #content .container .content-wrap .con-center .char .char-box .char-arrow .next-arrow {
  right: 9px;
}
main #content .container .content-wrap .con-right {
  flex: 1.1;
}
main #content .container .content-wrap .con-right .news .title {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #content .container .content-wrap .con-right .news .title h3 {
  font-size: 14.5px;
}
main #content .container .content-wrap .con-right .news .title span {
  font-size: 11px;
}
main #content .container .content-wrap .con-right .news .news-list {
  margin-top: 5%;
  letter-spacing: 0.5px;
  line-height: 1.7;
}
main #content .container .content-wrap .con-right .news .update {
  margin-top: 4%;
  padding: 4%;
  background: #f9f9f9;
  border: 1px solid #d2d2d2;
  font-size: 12.5px;
  line-height: 1.7;
}
main #content .container .content-wrap .con-right .news .update span {
  display: block;
}
main #content .container .content-wrap .con-right .today {
  margin-top: 10%;
}
main #content .container .content-wrap .con-right .today .title {
  border-bottom: 1px solid #e2e2e2;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #content .container .content-wrap .con-right .today .title h3 {
  font-size: 14.5px;
}
main #content .container .content-wrap .con-right .today .title span {
  font-size: 11px;
}
main #content .container .content-wrap .con-right .today .today-list {
  letter-spacing: 0.5px;
  line-height: 1.7;
}
main #content .container .content-wrap .con-right .today .today-list .attk {
  background: url(../img/today/ico_today.gif);
}
main #content .container .content-wrap .con-right .today .today-list li {
  background-repeat: no-repeat;
}

/* footer */
.footer-wrap {
  width: 100%;
  margin-top: 30px;
  overflow: hidden;
  padding: 10px;
}
.footer-wrap .link {
  font-size: 13px;
  color: #666;
  letter-spacing: 0.5px;
  overflow: hidden;
  display: flex;
}
.footer-wrap .link li {
  overflow: hidden;
}
.footer-wrap .link li:not(:last-child) {
  padding-right: 15px;
}
.footer-wrap .link a {
  position: relative;
}
.footer-wrap .link a::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  background: #d1d1d1;
  position: absolute;
  top: 1px;
  right: -8px;
}
.footer-wrap .info {
  font-size: 11px;
  color: #888;
  margin-top: 10px;
}
.footer-wrap .info span {
  display: inline-block;
  margin-right: 10px;
}
.footer-wrap .info span a {
  text-decoration: underline;
}
.footer-wrap .cen {
  font-size: 11px;
  color: #888;
  margin-top: 10px;
}
.footer-wrap .logo {
  margin-top: 20px;
}
.footer-wrap .logo a {
  display: inline-block;
  margin-right: 15px;
}

/* media screen */
@media screen and (max-width: 1100px) {
  header .gnb {
    display: none;
  }
  header nav {
    height: 50px;
    background: url(../img/nav/nav_flip_bg.png) center center;
    background-repeat: no-repeat;
  }
  header nav .pc-wrap {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  .container {
    padding: 0 15px;
  }
}/*# sourceMappingURL=style.css.map */