*{box-sizing: border-box;}

/* layout */
#wrap{width: 100%; overflow: hidden;}
#header{width: 100%; background: #fff;}
#content{width: 100%; background: #fff; overflow: hidden;}
.container{max-width: 980px; height: inherit; margin: 0 auto; position: relative; overflow: hidden;}
a{color: inherit;}



/* header */
.gnb{width: 100%; height: 62px; padding: 0 24px; display: flex; justify-content: space-between; align-items: center; color: #17191d;}

.gnb-menu{display: flex; align-items: center;}
.gnb-menu .icon{width: 18px; height: 18px; background: #17191d url(../img/btn/set_gnb.png) no-repeat 0 0; cursor: pointer; margin-right: 10px;}
.gnb-menu a{display: block; font: 18px 'NEXON Lv2 Gothic Bold';}
.gnb-menu:hover .icon{background-color: #07f; transition: .2s;}
.gnb-menu:hover a{color: #07f; transition: .2s;}

.nx-logo a{display: block; width: 100%; height: 100%; padding-left: 184px;}
.nx-logo a img{vertical-align: bottom;}

.gnb-right{display: flex; align-items: center;}
.gnb-right .icon{width: 22px; height: 22px; background: #191919 url(../img/btn/set_gnb_icon.png) no-repeat 0 0;}
.gnb-right .gnb-join{font-size: 16px; margin: 0 10px;}
.gnb-right .gnb-join:hover a{color: #07f; transition: .2s;}
.gnb-right .gnb-login{padding: 7px 18px; border: 2px solid #17191d; border-radius: 20px; font: 16px 'NEXON Lv2 Gothic Bold';}
.gnb-right .gnb-login:hover{color: #fff; background: #07f; border-color: #07f; transition: .2s;}


nav{width: 100%; height: 61px; position: relative; background: url(../img/nav/nav_bg.png) no-repeat center center;}
nav .pc-wrap{width: 100%; height: 100%; display: flex; justify-content: space-around;}
nav .pc-wrap>li{width: calc((100% - 211px)/9); height: 100%; position: relative;}
nav .pc-wrap>li>a{display: block; width: 82%; height: 100%; background: url(../img/nav/nav_menu.png) no-repeat;}
nav .pc-wrap .logo{width: 211px;}
nav .pc-wrap .logo h2{height: 100%;}
nav .pc-wrap .logo a{display: block; width: 100%; height: 100%; padding-top: 7px;}

nav .pc-wrap>li:nth-child(1)>a{background-position: 0 0;}
nav .pc-wrap>li:nth-child(2)>a{background-position: -70px 0;}
nav .pc-wrap>li:nth-child(3)>a{background-position: -422px 0;}
nav .pc-wrap>li:nth-child(5)>a{background-position: -204px 0;}
nav .pc-wrap>li:nth-child(6)>a{background-position: -274px 0; margin-left: 10px;}
nav .pc-wrap>li:nth-child(7)>a{background-position: -345px 0; margin-left: 10px;}



/* mobile header */
nav .mob-wrap{width: 100%; height: 100%; display: flex; justify-content: space-between; align-items: center;}
nav .mob-wrap a{display: block;}
nav .mob-wrap .fas{font-size: 25px; line-height: 33px; color: #a92111;}

nav .mob-wrap .mob-menu a{width: 33px; height: 33px;}
nav .mob-wrap .mob-menu .fas{padding: 0 4px;}

nav .mob-wrap .mob-logo{width: 15%; height: 100%;}
nav .mob-wrap .mob-logo h2{height: 100%;}
nav .mob-wrap .mob-logo a{width: 100%; height: 71%;}
nav .mob-wrap .mob-logo a img{width: 100%; height: 100%; margin-top: 8px;}

nav .mob-wrap .mob-home a{width: 33px; height: 33px;}
nav .mob-wrap .mob-home .fas{padding: 0 1px;}















/* media screen */
@media screen and (max-width: 1100px) {
    .gnb{display: none;}
    nav{height: 50px; background: url(../img/nav/nav_flip_bg.png) no-repeat center center;}
    nav .pc-wrap{display: none;}
    /* nav .mob-wrap{display: block;} */
}